@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  input,
  select,
  textarea {
    @apply appearance-none bg-transparent border-0 outline-none;
  }
}

@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --border-radius-PILL: 999px;
  --primitive-colour-neutral-200: rgba(198, 198, 198, 1);
  --primitive-colour-primary-white: rgba(255, 255, 255, 1);
  --primitive-colour-tealb-900: rgba(14, 16, 23, 1);
  --samantic-colour-border-secondary: var(--primitive-colour-neutral-200);
  --samantic-colour-content-primary: var(--primitive-colour-tealb-900);
  --text-m-regular-font-family: "Lato", Helvetica;
  --text-m-regular-font-size: 14px;
  --text-m-regular-font-style: normal;
  --text-m-regular-font-weight: 400;
  --text-m-regular-letter-spacing: 0px;
  --text-m-regular-line-height: 20px;
  --white: rgba(255, 255, 255, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-samantic-colour-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-samantic-colour-mode="light"] {
  --samantic-colour-content-primary: var(--primitive-colour-tealb-900);
}

[data-samantic-colour-mode="dark"] {
  --samantic-colour-content-primary: var(--primitive-colour-primary-white);
}
